@mixin respond($size) {
  @if ($size == "desktop-large") {
    @media only screen and (min-width: 75em) {
      @content;
    }
  }
  @if ($size == "tab-land") {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
  @if ($size == "tab-port") {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }
  @if ($size == "mobile") {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
}

@mixin button {
  border: none;
  border-radius: 0;
  letter-spacing: 0.5px;
  background-color: $color_button_1;
  outline-color: $color_button_1;
  cursor: pointer;
  display: block;
  color: white;
  font-family: sans-serif;
  text-align: center;
  transition: all 0.2s;
}
