$color-primary: #dfdfdf;
$color-button_1: #378ffa;
$color-button_1_light: #58a3ff;

$box-shadow: 0.2rem 0.4rem 0.6rem rgba(0, 0, 0, 0.8);
$box-shadow-light: 0.2rem 0.6rem 0.8rem rgba(0, 0, 0, 0.5);
$box-shadow-big: 0.3rem 0.6rem 0.6rem rgba(0, 0, 0, 0.8);

$text-shadow: 0.1rem 0.3rem 0.4rem rgba(0, 0, 0, 0.4);
$text-shadow-small: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
