@import "main.scss";

.App {
  text-align: center;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
  // padding: 0 5%;

  background-image: linear-gradient(#ffeedd, rgb(255, 153, 0));
}
