@import 'variables';
@import 'mixins';

.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem auto 0.5rem 1rem;
  background-color: rgba(15, 41, 88, 0.95);
  color: #fff;
  box-shadow: $box-shadow-light;

  &__container {
    display: flex;
    align-items: center;
  }

  &__name {
    display: inline-block;
    margin-left: 5rem;

    @include respond(tab-port) {
      margin-left: 2rem;
      display: inline;
    }
  }
  &__image {
    display: inline-block;
    max-height: 10rem;

    @include respond(tab-land) {
      max-height: 8rem;
    }
  }
  &__amount {
    margin-left: 5rem;
    display: inline-block;
    font-size: 3rem;
    height: 3rem;
    width: 8.5rem;
    text-align: center;

    @include respond(tab-land) {
      margin-left: 2rem;
    }

    @include respond(tab-port) {
      margin-left: 2rem;
      font-size: 4rem;
      height: 4rem;
    }

    &::-webkit-inner-spin-button {
      width: 2rem;
      height: 3rem;
      padding: 0.4rem;
      position: relative;
      right: 4px;
      border-radius: 28px;
      margin-right: -0.5rem;
      margin-left: 1.5rem;
    }
  }
  &__price {
    display: inline-block;

    @include respond(tab-port) {
      font-size: 3rem;
    }
  }
  &__remove {
    @include button;
    text-transform: lowercase;
    display: inline-block;
    height: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    padding: 0 1rem;
    border-radius: 1rem;
    font-size: 1.8rem;
    box-shadow: $box-shadow;

    @include respond(tab-land) {
      margin-left: 2rem;
      margin-right: 0;
      height: 8rem;
      font-size: 2rem;
    }

    &:focus {
      outline: 1px solid $color_button_1;
      outline-offset: -3px;
      -moz-outline-radius: 5px;
    }

    &:hover {
      transform: translateY(-2px);
      background: $color_button_1_light;
      box-shadow: $box-shadow-big;
      outline-offset: -3px;
      -moz-outline-radius: 5px;
    }

    &:active {
      transform: translateY(1px);
    }
  }
}
