body {
  font-size: 10px;

  .App {
    text-align: center;

    .cart {
      display: block;
      border: 3px solid white;
      background-color: azure;
      transition: all 0.5s;
      overflow: hidden;

      .CartList {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border: 5px solid #999;
        transition: all 0.5s;

        .CartItem {
          display: flex;
          margin: 0 auto;
          border: 2px solid #fff;

          .CartItem img {
            max-height: 100px;
          }
        }
      }
    }

    .Shop {
      border: 3px solid #000;

      .ShopList {
        display: flex;
        flex-wrap: wrap;

        margin: 4rem 10%;

        .ShopItem {
          display: flex;
          flex-direction: column;
          height: 250px;
          width: 150px;
          background-color: blanchedalmond;
          border: 5px solid #fff;
          overflow: hidden;
          margin: 2rem;
        }
      }
    }
  }
}
.ShopItem img {
  max-width: 100%;
}
