@import 'variables';
@import 'mixins';

.nav {
  display: flex;
  justify-content: space-between;
  background-color: azure;
  height: 8rem;
  width: 100vw;
  max-width: 100%;
  position: fixed;
  z-index: 500;
  border-radius: 0;
  box-shadow: $box-shadow-light;

  &__logo {
    // width: 10vw;
    max-height: 100%;
    margin-left: 1rem;
  }

  &__menu {
    width: 20vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 2rem;

    &--price {
      font-size: 4rem;
      text-shadow: $text-shadow;
    }
    &--toggle {
      &-button {
        @include button;
        padding: 1rem 2rem;
        margin: 0;
        margin-right: 8rem;
        text-decoration: none;
        font-size: 1rem;
        border-radius: 5px;
        box-shadow: $box-shadow;
        height: 5rem;
        width: 15rem;
        font-size: 2rem;

        &:focus {
          outline: 1px solid $color_button_1;
          outline-offset: -3px;
          -moz-outline-radius: 5px;
        }

        &:hover {
          transform: translateY(-2px);
          background: $color_button_1_light;
          box-shadow: $box-shadow-big;
          outline-offset: -3px;
          -moz-outline-radius: 5px;
        }

        &:active {
          transform: translateY(1px);
        }
      }
    }
  }
}
