@import 'variables';
@import 'mixins';

.shopItem {
  display: flex;
  flex-direction: column;
  height: 45rem;
  width: 30rem;
  margin: 4rem 2rem 4rem 2rem;
  border-collapse: separate;
  position: relative;
  perspective: 1000px;

  &__side {
    background-color: #fff;

    &--front {
      height: 45rem;
      width: 30rem;
      position: absolute;
      top: 0;
      left: 0;
      backface-visibility: hidden !important;
      transition: all 0.5s 0.15s;
      clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
      z-index: 20;
    }
    &--back {
      height: 45rem;
      width: 30rem;
      position: absolute;
      top: 0;
      left: 0;
      backface-visibility: hidden !important;
      transition: all 0.5s 0.15s;
      transform: rotateY(180deg);
      overflow: hidden;
      clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);

      @include respond(tab-land) {
        top: 25%;
        transform: rotateY(0);
        z-index: 10;
        clip-path: polygon(0 0, 100% 5%, 100% 95%, 0 100%);
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
    @include respond(tab-land) {
      transform: unset;
    }
  }

  &:hover &__side--back {
    transform: rotateY(0);
    @include respond(tab-land) {
      transform: unset;
    }
  }

  &__image {
    max-width: 100%;
    clip-path: polygon(0 5%, 100% 0, 100% 93%, 0 100%);
    z-index: 100;

    &--front {
    }
    &--back {
      transform: rotateY(180deg);
    }
  }

  &__title {
    font-size: 3rem;
    @supports (clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%)) {
      transform: skew(-10deg, 0) rotate(-4deg);
    }
  }

  &__description {
    letter-spacing: 1px;
    text-transform: lowercase;
    font-size: 80%;
    margin-top: 1rem;

    padding: 1rem;
    @supports (clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%)) {
      transform: skew(-10deg, 0) rotate(-4deg);
    }
  }

  &__price {
    font-size: 4rem;
    letter-spacing: 5px;
    @supports (clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%)) {
      transform: skewX(4deg) rotate(4deg);

      @include respond(tab-land) {
        transform: skewX(-4deg) rotate(-4deg);
        margin-top: 2rem;
      }
    }
  }

  &__button {
    @include button;
    transition: all 0.1s;
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 100.3%;
    min-width: 100%;
    height: 7rem;
    border: none;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    box-shadow: none;

    border-width: 0px 2px 3px 0px;
    border-style: inset;
    border-color: #018fa5;

    border-radius: 2px;

    @supports (clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%)) {
      transform: rotate(4deg) skew(4deg);
      bottom: 4px;

      @include respond(tab-land) {
        transform: skewX(-4deg) rotate(-4deg);
      }
    }

    &:hover {
      background-color: $color_button_1_light;
    }

    &:active {
      color: rgb(176, 255, 160);
      border: none;
      @supports (clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%)) {
        transform: skewY(-4deg);
      }
    }
  }
}
