.ShopItem {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 150px;
  background-color: blanchedalmond;
  border: 5px solid #fff;
  overflow: hidden;
  margin: 2rem;
}

.ShopItem img {
  max-width: 100%;
}
